@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #00095E;
    --blue-color: #007bff;
    --purple-color: #6f42c1;
    --orange-color: #fccd2d;
    --pink-color: #7EA0FF;
    --phone-title-font-size: 31px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

i:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.section-title {
    position: relative;
    font-size: 50px;
    line-height: 1.2;
    color: var(--main-color);
}


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* Header */

header {
    margin-bottom: 107px;
    height: 10vh;
}

header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 48px;
}

header .container .logo h1 a span {
    padding-right: 3px;
}

header .container nav {
    display: flex;
    align-items: center;
}

header .container .fa-bars {
    display: none;
    font-size: 17px;
}

header .container nav ul {
    display: flex;
}

header .container nav ul li {
    margin-right: 47px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

header .container nav ul li a {
    font-size: 16px;
    color: var(--main-color);
    transition-duration: 0.5s;
}

header .container nav ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: var(--blue-color);
    overflow: hidden;
    transition-duration: 0.5s;
}

header .container nav ul li a:hover::before {
    left: 0%;
}

header .container nav ul li a:hover {
    color: var(--blue-color);
}

header nav button {
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
    color: #fff;
    padding: 13px 30px;
    border-radius: 2.5px;
}

header nav button .fa-phone {
    color: #fff;
    font-size: 16px;
    margin-right: 12px;
}


/* Slide Area  */

.slider-area {
    text-align: center;
    color: var(--main-color);
    height: 144vh;
    overflow: hidden;
}

.slider-area .text-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider-area .text-area .section-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slider-area .text-area h1 span::before {
    content: "";
    position: absolute;
    bottom: 5px;
    width: 417px;
    height: 13px;
    background-color: var(--orange-color);
    z-index: -1;
}

.slider-area .text-area h1 span {
    display: block;
    width: 100%;
}

.slider-area .text-area p {
    font-size: 20px;
    color: var(--main-color);
    padding-top: 15px;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 1.6;
}

.slider-area .text-area button {
    font-size: 16px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff;
    padding: 26px 60px;
    border-radius: 5px;
    background: #00095e;
    background: -moz-linear-gradient(top, #00095e 0%, #0c0c1f 100%);
    background: -webkit-linear-gradient(top, #00095e 0%, #0c0c1f 100%);
    background: linear-gradient(to bottom, #00095e 0%, #0c0c1f 100%);
    animation: 0.5s linear;
}

.slider-area button:hover {
    background-color: var(--orange-color) !important;
}

.slider-area .car-background {
    background-image: url("../images/h1_hero1.png.webp");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.slider-area .car-background img {
    width: 45%;
    transform: translate(0%, 80%);
    animation: car-moving ease-in infinite 3.5s
}

@keyframes car-moving {
    0% {
        transform: translate(13%, 80%);
    }
    50% {
        transform: translate(-18%, 80%);
    }
    100% {
        transform: translate(13%, 80%);
    }
}


/* Upcoming Events */

.upcoming-events {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title span {
    color: var(--pink-color);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 0.05em;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 26px;
}

.slider .card-box {
    width: 362px;
    height: 357px;
    border-radius: 9px;
    box-shadow: #c8bbbb 0px 1px 15px -1px;
}

.slider .card-box .image {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.slider .card-box .image img {
    width: 100%;
    transition: 1s;
}

.slider .card-box .image img:hover {
    transform: scale(1.1);
}

.title h1 {
    font-size: 50px;
    color: var(--main-color);
    display: block;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 22px;
}

.slider .card-details {
    padding: 15px 9px;
}

.title-price,
.duration-days {
    display: flex;
    align-items: center;
}

.title-price a h3 {
    color: #00095E;
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;
    padding: 0 12px;
}

.title-price span {
    font-size: 22px;
    font-weight: 700;
    color: #7EA0FF;
    line-height: 1;
}

.title-price {
    justify-content: space-between;
}

.duration-days .duration {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 9px 15px;
    margin-right: 16px;
    color: var(--pink-color);
    background: rgba(126, 160, 255, 0.05);
    border-radius: 19px;
    margin-right: 13px;
}


/* About Us */

.about-us {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0;
}

.about-us .image {
    padding: 15px;
    width: 53%;
}

.about-us .image img {
    width: 100%;
}

.about-us .title-button {
    width: 45%;
}

.about-us .title-button .title h1 {
    width: 100%;
}

.about-us .title-button .title p {
    color: #677F8B;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 22px;
}

.book-your-destination {
    background: #FFC800;
    padding: 20px 32px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border: transparent;
    border-radius: 5px;
    line-height: 1;
}


/* Costumers Section */

.costumers-section {
    width: 100%;
    background-image: url(../images/section_bg1.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 139px;
    padding-bottom: 130px;
}

.costumers-section .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.costumers-section .items h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
}

.costumers-section .items p {
    line-height: 1.5;
    padding: 0 50px;
    margin-bottom: 32px;
    font-size: 26px;
    color: #fff;
    font-weight: 400;
}

.costumers-section .items .founder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.costumers-section .items p {
    width: 74%;
    text-align: center;
}

.costumers-section .items .founder .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 18px;
}

.costumers-section .items .founder .text span {
    font-size: 18px;
    font-weight: 600;
}

.costumers-section .items .founder .text p {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
}


/* FAQ */

.FAQ {
    margin-top: 50px;
}

.FAQ .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FAQ .container .ul-button ul li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EFEFEF;
}

.FAQ .container .ul-button ul li i {
    font-size: 15px;
    color: var(--pink-color);
}

.FAQ .container .ul-button ul li a {
    color: #010A44;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 15px 20px 36px;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
}


/* Last Trip */

.last-trip {
    padding-bottom: 120px;
}

.last-trip .container {
    position: relative;
}

.last-trip .container .video {
    width: 100%;
}

.last-trip .container .video img {
    width: 100%;
}

.last-trip .container .watch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.last-trip .container .watch h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
}


/* Images */

.images {
    width: 100%;
    display: flex;
}

.images img {
    position: relative;
    width: 20%;
}


/* Footer */

footer {
    width: 100%;
    color: #fff;
    background-color: #1c225c;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 114px;
}

footer .container .tralive,
footer .container .navigation,
footer .container .services,
footer .container .contact-us {
    display: flex;
    flex-direction: column;
}

footer .container .tralive {
    width: 29%;
}

footer .container .tralive a {
    margin-bottom: 35px;
}

footer .container .tralive p,
footer .container .contact-us span,
footer .container span a {
    color: #8A8FBE;
    font-size: 16px;
    margin-bottom: 21px;
    line-height: 1.8;
}

footer .container .tralive .icons {
    padding-top: 10px;
}

footer .container .tralive .icons i {
    font-size: 23px;
    padding-right: 20px;
    transition: .5s;
}

footer .container .tralive .icons i:hover {
    padding-bottom: 5px;
    color: var(--orange-color);
}

footer .container .navigation,
footer .container .services {
    text-align: center;
}

footer .container .navigation h2,
footer .container .services h2,
footer .container .contact-us h2,
footer .container .services span,
footer .container .navigation span,
footer .container .contact-us span {
    margin-bottom: 10px;
}

footer .container .services span a,
footer .container .navigation span a {
    transition: .5s;
}

footer .container .navigation span a:hover,
footer .container .services span a:hover {
    color: #fff;
    text-decoration: underline;
}

footer .container .contact-us .number {
    color: var(--orange-color);
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    color: #FFC800;
    margin-bottom: 0px;
    font-weight: 400;
    display: block;
}

footer .creator {
    font-size: 16px;
    color: #8A8FBE;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 20px;
}

footer .creator i {
    color: red;
}


/* Responsive */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .title h1 {
        font-size: 41px;
    }
    .slider-area {
        height: 123vh;
    }
    .costumers-section .items p {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    .about-us {
        flex-wrap: wrap;
    }
    .about-us .image {
        width: 100%;
    }
    .about-us .title-button {
        width: 100%;
        margin-top: 26px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .costumers-section .items p {
        width: 63%;
        font-size: 18px;
        padding: 0px;
        margin-bottom: 40px;
    }
    .title h1 {
        font-size: 43px;
    }
    .last-trip {
        padding-bottom: 100px;
    }
    footer .container .navigation,
    footer .container .services {
        width: 25%;
    }
    footer .container .contact-us {
        margin-top: 40px;
    }
}

@media only screen and (min-width: 567px) and (max-width: 767px) {
    .slider-area .text-area .section-title {
        font-size: 40px;
        line-height: 1.2;
    }
    .slider-area .text-area h1 span::before {
        content: "";
        width: 72%;
    }
    .slider-area .text-area p {
        font-size: 19px;
    }
    .title h1 {
        font-size: 31px;
    }
    .slider-area {
        height: 86vh;
    }
    .costumers-section .items h2 {
        font-size: 42px;
        margin-bottom: 30px;
    }
    .costumers-section .items p {
        font-size: 18px;
        padding: 0px;
        margin-bottom: 40px;
    }
    .last-trip {
        padding-bottom: 70px;
    }
    footer .container .navigation {
        width: 61%;
    }
    footer .container .services,
    footer .container .contact-us {
        margin-top: 40px;
    }
}

@media (max-width: 575px) {
    .slider-area .text-area .section-title {
        font-size: 22px;
        line-height: 1.3;
    }
    .slider-area .text-area h1 span::before {
        width: 188px;
        height: 7px;
    }
    .slider-area .text-area p {
        font-size: 15px;
    }
    .slider-area .text-area button {
        padding: 24px 21px;
        font-size: 15px;
    }
    header .container nav {
        display: none;
        width: 55%;
    }
    header nav button {
        padding: 10px 16px;
    }
    .slider-area {
        height: 76vh;
    }
    .slider-area .car-background {
        margin-top: 50px;
    }
    .title h1 {
        font-size: 24px;
    }
    .title span {
        font-size: 12px;
    }
    .slider {
        justify-content: center;
    }
    .slider .card-box {
        width: 304px;
    }
    .about-us .title-button span {
        font-size: 14px;
    }
    .costumers-section .items h2 {
        font-size: 29px;
        margin-bottom: 20px;
    }
    .costumers-section .items p {
        width: 77%;
        text-align: center;
        font-size: 15px;
        padding: 0px;
        margin-bottom: 30px;
    }
    .last-trip {
        padding-bottom: 70px;
    }
    .last-trip .container .watch h3 {
        font-size: 23px;
    }
    .last-trip .container .watch a img {
        width: 85%;
    }
    footer {
        padding-top: 80px;
    }
    footer .container .tralive,
    footer .container .navigation,
    footer .container .services,
    footer .container .contact-us {
        width: 100%;
    }
    footer .container .navigation,
    footer .container .services,
    footer .container .contact-us {
        text-align: left;
        margin-top: 39px;
    }
}


/* nav link */

@media (max-width: 991px) {
    header .container .fa-bars {
        display: flex;
    }
    header .container nav {
        display: none;
        width: 31%;
        flex-direction: column;
        position: absolute;
        right: 38px;
        top: 52px;
        background-color: #4c4c4c;
        z-index: 1;
        border-radius: 3px;
        padding-bottom: 10px;
    }
    header .container nav.active {
        display: flex;
        width: 60%;
    }
    header .container nav::before {
        content: "";
        background-color: #4c4c4c;
        position: relative;
        top: -3px;
        left: 42%;
        width: 20px;
        height: 20px;
        transform: rotate(54deg);
    }
    header .container nav ul {
        width: 100%;
        flex-direction: column;
    }
    header .container nav ul li {
        display: flex;
        margin-bottom: 25px;
        padding: 11px 0px 5px 20px;
        border-bottom: 1px solid #eeeeee7a;
        width: 100%;
    }
    header .container nav ul li a {
        color: white;
    }
    header .container nav ul li a:hover {
        padding-left: 14px;
    }
    .FAQ .container .image img {
        display: none;
    }
}